<!DOCTYPE html>
<html lang="en" ng-app="taskApp">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <script src="angular.js"></script>
    <style>
        .completed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
        }
        li {
            cursor: pointer;
        }
    </style>
    <script>
        var utilsModule = angular.module('utils',[]);
        utilsModule.factory('Task',function(){
            function Task(defaults){
                this.id = defaults.id || new Date().getTime().toString();
                this.name = defaults.name || "";
                this.isCompleted = defaults.isCompleted || false;
            }
            Task.prototype.toggle = function(){
                this.isCompleted = !this.isCompleted;
            }
            return Task;
        });
        utilsModule.filter('trimText',function(){
            return function(data, trimLength){
                data = data || "";
                return data.length < trimLength ? data : data.substr(0,trimLength) + "...";
            };
        });
        
        var taskApp = angular.module('taskApp',['utils']);
        
        taskApp.provider("taskStorage",function taskStorageProvider(){
            var _storageOption = 'local';
            this.setStorage = function(storageOption){
                _storageOption = storageOption;
            }
            this.$get = function($window, Task){
                var storage = _storageOption === "local" ? $window.localStorage : $window.sessionStorage;
                return {
                    saveTask : function(task){
                        storage.setItem(
                                task.id,
                                $window.JSON.stringify(task)
                            );
                    },
                    removeTask : function(task){
                        storage.removeItem(task.id);
                    },
                    getAllTasks : function(){
                         var result = [];
                        for(var i=0;i<storage.length;i++){
                            var key = storage.key(i);
                            var task = new Task( $window.JSON.parse(storage.getItem(key)));
                            result.push(task);
                        }
                        return result;
                    }
                }
            };
            
        });
        taskApp.config(function(taskStorageProvider){
            taskStorageProvider.setStorage('session');
        });
        
        taskApp.controller('taskController',['$scope', 'Task', 'taskStorage',function ($scope, Task, ts){

            $scope.tasks = {
                list : ts.getAllTasks(),
                add : function(taskName){
                    var newTask = new Task({name : taskName});
                    ts.saveTask(newTask);         
                    this.list.push(newTask);
                },
                getCompletedCount : function(){
                    return this.list.filter(function(task){
                        return task.isCompleted;
                    }).length;
                },
                removeCompleted : function(){
                    this.list.forEach(function(task,index){
                        if (task.isCompleted){
                            ts.removeTask(task);
                            this.list.splice(index,1);
                        }
                    });
                },
                toggleCompletion : function(task){
                    task.toggle();
                    ts.saveTask(task);
                }
            }
            
        }]);
        
    </script>
</head>
<body  ng-controller="taskController">
    <h1>Task Manager <sup>(<span class="completed">{{tasks.getCompletedCount()}}</span> / {{tasks.list.length}})</sup></h1>
    <hr>
    Search : <input type="search" ng-model="searchTask.name">
    Task Name Length : <input type="range" min="10" max="50" ng-model="trimLength">   
    <hr>
    <div class="content">
        <label for="txtTask">Task :</label>
        <input type="text" ng-model="newTaskName">
        <input type="button" value="Add Task" ng-click="tasks.add(newTaskName)">
        <input type="button" value="Remove Completed" ng-click="tasks.removeCompleted()">
        <ul>
            <li ng-repeat="task in tasks.list | filter:searchTask track by $index"
                ng-click="tasks.toggleCompletion(task)"
                ng-class="{completed : task.isCompleted}"
                >{{task.name | trimText:trimLength}}</li>
        </ul>
    </div>
</body>
</html>