<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Introduction</title>
    <style>
        .morningGreetMsg {
            color : green
        }
        .eveningGreetMsg {
            color : red
        }
    </style>
    <script src="angular.js"></script>
    <script>
    function greetController($scope){
        $scope.firstName = "Suresh";
        $scope.lastName = "Kannan";

        $scope.greet = function (){
            var hour = new Date().getHours();
            if (hour < 12){
                $scope.greetStyle = "morningGreetMsg";
                $scope.greetMsg = "Good Morning!!";
            } else {
                $scope.greetStyle = "eveningGreetMsg";
                $scope.greetMsg = "Good Evening!!";
            }
        }
    }
    </script>
</head>
<body ng-app >
   <div ng-controller="greetController">
    <input type="text" ng-model="firstName">
    <input type="text" ng-model="lastName">
    <input type="button" value="Greet" ng-click="greet()">
    <div ng-class="greetStyle">{{greetMsg}}</div>   
   </div>
   
</body>
</html>