<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular Introduction</title>
    <script src="angular.js"></script>
    <script>
    function greetController($scope){
        $scope.firstName = "Suresh";
        $scope.lastName = "Kannan";

        $scope.greet = function (){
            $scope.greetMsg = "Hi " + $scope.firstName + " " + $scope.lastName;
        }
    }
    </script>
</head>
<body ng-app >
   <div ng-controller="greetController">
    <input type="text" ng-model="firstName">
    <input type="text" ng-model="lastName">
    <input type="button" value="Greet" ng-click="greet()">
    <div></div>   
   </div>
   
</body>
</html>