<!DOCTYPE html>
<html lang="en" ng-app="taskApp">
<head>
    <meta charset="UTF-8">
    <title>Task Manager</title>
    <script src="angular.js"></script>
    <style>
        .completed{
            color : red;
            text-decoration: line-through;
            font-style: italic;
        }
        li {
            cursor: pointer;
        }
    </style>
    <script>
        var utilsModule = angular.module('utils',[]);
        utilsModule.factory('Task',function(){
            function Task(name){
                this.name = name;
                this.isCompleted = false;
            }
            Task.prototype.toggle = function(){
                this.isCompleted = !this.isCompleted;
            }
            return Task;
        });
        
        var taskApp = angular.module('taskApp',['utils']);
        
        taskApp.controller('taskController',function ($scope, Task){
            $scope.tasks = {
                list : [],
                add : function(taskName){
                    var newTask = new Task(taskName);
                    this.list.push(newTask);
                },
                getCompletedCount : function(){
                    return this.list.filter(function(task){
                        return task.isCompleted;
                    }).length;
                },
                removeCompleted : function(){
                    this.list = this.list.filter(function(task){
                        return !task.isCompleted;
                    });
                }
            }
        });
    
    
        
    
    
    </script>
</head>
<body  ng-controller="taskController">
    <h1>Task Manager <sup>(<span class="completed">{{tasks.getCompletedCount()}}</span> / {{tasks.list.length}})</sup></h1>
    <hr>
    Search : <input type="search" ng-model="searchTask.name">
    <hr>
    <div class="content">
        <label for="txtTask">Task :</label>
        <input type="text" ng-model="newTaskName">
        <input type="button" value="Add Task" ng-click="tasks.add(newTaskName)">
        <input type="button" value="Remove Completed" ng-click="tasks.removeCompleted()">
        <ul>
            <li ng-repeat="task in tasks.list | filter:searchTask"
                ng-click="task.toggle()"
                ng-class="{completed : task.isCompleted}"
                >{{task.name }}</li>
        </ul>
    </div>
</body>
</html>